    <!-- Footer -->
    <link rel="stylesheet" href="/css/User/userHome.css">
    
    <footer class="footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5 style="font-family: 'Playfair Display', serif;">ChapterOne</h5>
                    <p>Connecting readers with extraordinary stories, one page at a time.</p>
                </div>
                <div class="col-md-4">
                    <h5 style="font-family: 'Playfair Display', serif;">Quick Links</h5>
                    <a href="/">Home</a>
                    <a href="/shop">Shop</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
                <div class="col-md-4">
                    <h5 style="font-family: 'Playfair Display', serif;">Connect With Us</h5>
                    <div>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="ms-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="ms-3"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <p>&copy; 2024 ChapterOne Bookstore. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>